@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
--transicao: rgb(129, 62, 196); 
--branco: rgb(209, 209, 209);
--rosinha: #caa8f5ff;
--azul-claro: rgb(50, 37, 88);
--roxo: #592e83ff;
--roxo-escuro: #230c33ff;
--angelo: #000;
  --title: "SUSE Mono", sans-serif;
  --text: "Lato", sans-serif;
}

/* Estilização básica e do corpo */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #230c33ff; /* Fundo Roxo Escuro */
  color: #ffffff; /* Cor do texto principal */
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #940280; /* Fundo do Contêiner Roxo Médio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  color: #ffffff; 
}

/* Estilização do Placar */
#score-board {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

/* Estilização do tabuleiro (usando Grid) */
.board {
  display: grid;
  /* 3 colunas de tamanho igual */
  grid-template-columns: repeat(3, 120px); 
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
  border: 3px solid #000000;
}

/* Estilização de cada célula */
.cell {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cell:hover {
  background-color: #ddd;
}

/* Estilos para o texto X e O */
.cell.x {
  color: #2f00ff; /* Azul */
}

.cell.o {
  color: #ff0015; /* Vermelho */
}

/* Estilização para o status e botão */
#status {
  margin-bottom: 15px;
  font-size: 1.5em; 
  font-weight: bold;
}

#restart-button {
  padding: 10px 15px; 
  font-size: 1em;
  cursor: pointer;
  background-color: #5f0052;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}

#restart-button:hover {
  background-color: #ba51ac;
  color: #d2d2d2;
}

.historia{
  font-size: 18px;
  font-family: var(--title);
  background-color: var(--roxo);
  color: var(--branco);
  border: 2px solid var(--branco);
  padding: 13px 23px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 7px;
}
.historia:hover {
  font-size: 18px;
  font-family: var(--title);
  background-color: var(--transicao);
  color: var(--angelo);
  border: 2px solid var(--angelo);
  padding: 13px 23px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.7s;
}
